:root {
  --clr-primary: hsl(158, 36%, 37%);
  --clr-primary-dark: hsl(158, 36%, 20%);
  --clr-secondary: hsl(30, 38%, 92%);

  --clr-neutral-1: hsl(212, 21%, 14%);
  --clr-neutral-2: hsl(228, 12%, 48%);
  --clr-neutral-3: hsl(0, 0%, 100%);

  --fw-regular: 500;
  --fw-bold: 700;

  --font-main: "Montserrat", sans-serif;
  --font-head: "Fraunces", serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  line-height: 1;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: var(--font-main);
  font-weight: var(--fw-regular);
  font-size: 0.875rem;
  color: var(--clr-neutral-2);
  background-color: var(--clr-secondary);
  display: grid;
  place-content: center;
  margin: 1rem;
}

.price__group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;
  background-color: var(--clr-neutral-3);
  border-radius: 0.5rem;
  overflow: hidden;
  display: grid;
  max-width: 600px;
}

@media only screen and (min-width: 600px) {
	.card {
		--content-padding: 2rem;
		grid-template-columns: 1fr 1fr;
	}
}

.description {
  padding: var(--content-padding);
  display: grid;
  gap: var(--content-spacing);
}

.product__type {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 0.8025rem;
}

.product__name {
  font-family: var(--font-head);
  font-size: 2rem;
  color: var(--clr-neutral-1);
}

.curr_price {
  font-family: var(--font-head);
  font-size: 2rem;
  color: var(--clr-primary);
}

.button {
  padding: 0.75em 1.5em;
  font-family: inherit;
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary);
  cursor: pointer;
  border: 0;
  border-radius: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: white;
  font-size: 0.925rem;
}

.button:is(:hover, :focus) {
	background-color: var(--clr-primary-dark);
}

.button[data-icon="shopping-cart"]::before {
	content: "";
	height: 16px;
	width: 15px;
	background-image: url(/images/icon-cart.svg);
}